### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# other #
/out
/gradle
/.gradle
/build
/run
/.idea
Fendirain.iws

* halvors (~hstrandvo@195.254.172.59) has joined
* Ash|ZZz is now known as Ash|Away
<netz> Sollux-Captor: eg, pastbin.com has bullshit all over it
<Sollux-Captor> what?
<Sollux-Captor> what pastebin. BS?
<sham1> Oh no, it has ads in it
<netz> go to a paste on pastebin.com without adblock or the like and shit.
* Benimatic has quit (Ping timeout: 186 seconds)
* halvors (~hs